body
{
    background-color: black;
    margin:0;
    background:url("/images/backg.jpg");
    background-repeat: no-repeat;
    background-size:100vw 100vh;
}
#shooter,#bullet
{
    height:80px;
    aspect-ratio: 1;
    position: absolute;
}
#canv
{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}