*
{
    user-select: none;
}
body
{
    background-color: black;
    margin:0;
    background:url("/images/backg.jpg");
    background-repeat: no-repeat;
    background-size:100vw 100vh;
    overflow: hidden;
}
#shooter,#bullet
{
    height:80px;
    aspect-ratio: 1;
    position: absolute;
}
#shooter
{
    filter:drop-shadow(0 0 20px white);
}
#canv
{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}
.targets
{
    position: absolute;
    font-size: 40px;
    /* border: 1px solid red; */
}
#scoreBoard
{
    position:absolute;
    margin-top: 20px;
    margin-left: 20px;
}
@font-face { 
    font-family: 'Space';
    src: url('/fonts/scoreFont.woff') ;
    font-weight: normal;
    font-style: normal;
  }
#scoreBoard label
{
    color:rgb(68, 230, 87);
    font-size: 30px;
    font-family: Space;
}