*
{
    user-select: none;
}
body
{
    background-color: black;
    margin:0;
    background:url("./../images/backg.jpg");
    background-size:100vw 100vh;
    overflow: hidden;
}
#shooter,#bullet
{
    height:80px;
    aspect-ratio: 1;
    position: absolute;
}
#shooter
{
    filter:drop-shadow(0 0 20px white);
    z-index: 1;
}
#canv
{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}
.targets
{
    position: absolute;
    font-size: 40px;
    /* border: 1px solid red; */
}
#scoreBoard
{
    position:absolute;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1;
    display:grid;
    
}
@font-face { 
    font-family: 'Space';
    src: url('./../fonts/scoreFont.woff') ;
    font-weight: normal;
    font-style: normal;
  }

#scorLab
{
    color:rgb(68, 230, 87);
    font-size: 30px;
    font-family: Space;
    filter:drop-shadow(0 0 10px rgb(183, 255, 157))
}
#health
{
    font-size: 30px;
    font-family: Space;
    color:red;
    filter:drop-shadow(0 0 10px rgb(239, 159, 159))
}
  
#messageShower
{
    position: absolute;
    width:100%;
    transition-property: opacity;
    transition-duration: 0.6s;
    z-index: 2;
    /* filter:blur(6px); */
    text-align: center;
    font-family: Space;
    color:rgb(253, 255, 105);
    font-size:180px;
    margin-top:30vh;
    border-radius: 30px;
    border:1px solid rgb(253, 143, 143);
    box-shadow:0 0 40px red,0 0 400px red inset;
}
